body {
  background-color: #000;
  color: #fff;
  font-family: Arial, sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 50px;
}

.toggle-button {
  background-color: #333;
  color: #00ff00;
  font-size: 1rem;
  border: none;
  padding: 10px 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}

.profile {
  background-color: #333;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
  margin: 20px;
  width: 30%;
}

.profile img {
  width: 150px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.profile h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.profile p {
  font-size: 1rem;
  margin-bottom: 5px;
}

.profile p:last-child {
  margin-bottom: 0;
}
